/* for media query 601 - 900px */

/* Classes */
.card{
    grid-area: bpc;
    min-height:300px;
    height:auto;
    min-width:800px;
    width:auto;
    font-family: 'EB Garamond', serif;
    padding:30px;
    margin:1px;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:5px;
}

/* IDs */
#header{
    opacity: 100%;
    grid-area: header;
    background-color:var(--head-color);
    padding:0px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: 'Julius Sans One', sans-serif;
    font-size:40px;
    text-align:center;
}
#card1{
    margin:1px;
    box-shadow:0 4px 8px 0;
    border-radius: 10px;
}
#card2{
    margin:1px;
    box-shadow:0 4px 8px 0;
    border-radius: 10px;
}
#bpc-image{
    height:40%;
    width:100%;
} 
#img-head{
    grid-area: head;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size:30px;
}
#img-gal{
    grid-area:img;
    display:grid;
    min-height: 400px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 5px;
    width:auto;
}
#images{
    width:auto;
    grid-area:img;
    display:grid;
    grid-template-areas:
    "head"
    "img"
    "img"
    "img"
    "img";
}
#photo1{
    background-image:var(--image1);
    background-size: cover;
    max-width: 100%;
    height:auto;
}
#photo2{
    background-image:var(--image2);
    background-size: cover;
    max-width: 100%;
    height:auto;
}
#photo3{
    background-image:var(--image3);
    background-size: cover;
    max-width: 100%;
    height:auto;
}
#photo4{
    background-image:var(--image4);
    background-size: cover;
    max-width: 100%;
    height:auto;
}
#footer{
    opacity:100%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

