@import "blogpostbody.css";
@import "bp320px.css" screen and (max-width:320px);
@import "bp321-600px.css" screen and (min-width:321px) and (max-width:600);
@import "bp601-900px.css" screen and (min-width:601px) and (max-width:900px);
@import "bp900px.css" screen and (min-width: 901px);

@media (max-width:320px){
    .container{
        display:grid;
        grid-template-areas:
        "header"
        "nav"
        "abt"
        "bpc"
        "ftr";
    }
    #navigation{
        grid-area:nav;
        display:flex;
        flex-direction: row;
        background-color: var(--side-color);
    }
}

@media (min-width: 321px) and (max-width:600px){
    .container{
        display:grid;
        grid-template-areas:
        "header"
        "nav"
        "abt"
        "bpc"
        "ftr";
    }
    #navigation{
        grid-area:nav;
        display:flex;
        flex-direction: row;
        background-color: var(--side-color);
    }
}

@media(min-width:601px) and (max-width: 900px){
    .container{
        display:grid;
        grid-template-areas:
        "header header header header header header"
        "nav nav nav nav nav nav"
        "abt bpc bpc bpc bpc bpc"
        "ftr ftr ftr ftr ftr ftr";    
    }
    #navigation{
        grid-area:nav;
        display:flex;
        flex-direction: row;
        background-color: var(--side-color);
    }  
}

@media(min-width:901px){
    .container{
        display:grid;
        grid-template-columns: 400px 1fr;
        grid-template-areas:
        "header header header header header header"
        "nav bpc bpc bpc bpc bpc"
        "abt bpc bpc bpc bpc bpc"
        "ftr ftr ftr ftr ftr ftr";
    }
    #navigation{
        grid-area:nav;
        display:flex;
        flex-direction: column;
        background-color: var(--side-color);
        max-width:400px;
    }  
}