/* for media query <800px */

textarea{
    resize: none;
    height:200px;
    width:300px;
    overflow:visible;
}

.about{
    font-family: 'EB Garamond', serif;
    width:auto;
    text-align:center;
}

#blogpost{
    grid-area: bpc;
    min-height:500px;
    height: auto;
}

