/* for media query 321-600px */

textarea{
    resize: none;
    height:200px;
    width:300px;
    overflow:visible;
}
.about{
    font-family: 'EB Garamond', serif;
    max-width:100%;
}
#blogpost{
    grid-area: bpc;
    min-height:500px;
    height: auto;
}

