/* for media query 800px+ */

textarea{
    resize: none;
    height:200px;
    width:auto;
    overflow:visible;
}

.about{
    font-family: 'EB Garamond', serif;
    text-align:center;
}

#blogpost{
    grid-area: bpc;
    min-height:650px;
    height:auto;
    width:auto;
}
