/* for media query 800px+ */
textarea{
    resize: none;
    height:200px;
    width:auto;
    overflow:visible;
}

.about{
    font-family: 'EB Garamond', serif;
    text-align:center;
    max-width:400px;
}

#blogpost{
    grid-area: bpc;
    min-height:650px;
    height:auto;
    max-width:100%
}

